/*Encabezado*/
#header{
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #7210b8;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logoBaitcon{
    display: flex;
    align-items: center;
}

#logoBaitcon img{
    height: 40px;
    margin-right: 10px;
}

/*Cuerpo*/
#body{
    box-sizing: border-box;
    background-image: url('../img/fondo-card.jpg');
    background-size: cover; 
    background-position: center top;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

#body2{
    box-sizing: border-box;
    flex-direction: column;
    background-image: url('../img/body2.jpg');
    background-size: cover; 
    background-position: center top;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

/*Personalizacion de card*/
#card {
    width: 800px;
    height: 450px;
    border-radius: 30px;
    background: #9500ff;
    background: rgba(149, 0, 255, 0.505);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

#card2 {
    width: 800px;
    border-radius: 30px;
    background: #9500ff;
    background: rgba(149, 0, 255, 0.505);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 55%;
    left: 40%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 500px;
    overflow-y: scroll;
}

/*Estilo del chunk*/
#chunk{
    color: #ffffff;
    font-size: medium;
}

/* Estilo para la barra de desplazamiento */
#card2::-webkit-scrollbar {
    width: 12px; 
}

#card2::-webkit-scrollbar-track {
    background: #38025f; 
    border-radius: 10px; 
}

#card2::-webkit-scrollbar-thumb {
    background: #b144ff; 
    border-radius: 10px; 
}

#card2::-webkit-scrollbar-thumb:hover {
    background: #8d3bc8;
}

#card2::-webkit-scrollbar-button {
    display: none; 
}


/*Titulos*/
h1 {
    margin-top: 20px; 
    margin-bottom: 20px; 
    color: #ffffff;
}

#h2{
    margin-top: 20px; 
    margin-bottom: 20px; 
}

/* Estilo para el botón de volver */
#Volver {
    margin-top: 20px;
}



/*Area del Drag & drop*/
#drop-area {
    border: 2px dashed #00aeff;
    border-radius: 30px; 
    width: 400px;
    height: 300px;
    text-align: center;
    padding: center;
    margin-bottom: 20px;
    background-image: url('../img/cargar.gif'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

#drop-area.hover{
    border-color: #007bff;
}

/*Botones*/
.buttonDinamic {
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:#7210b8;
    color:#fff;
    border:none;
    position:relative;
    height:30px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
}

.buttonDinamic:hover {
    background:#fff;
    color:#7210b8;
}

.buttonDinamic:before,buttonDinamic:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #7210b8;
    transition:400ms ease all;
}

buttonDinamic:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}

.buttonDinamic:hover:before,buttonDinamic:hover:after{
    width:100%;
    transition:800ms ease all;
}

#volver-button{
    display: block;
    width: 20px;
    height: 30px;
}

/*Asistente virual*/
.initial-greeting {
    position: fixed;
    bottom: 90px;
    right: 20px;
    color: #000000;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
}

.initial-greeting::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 250px;
    background: transparent;
    width: 0px; height: 0px;
    border-bottom: 20px solid rgb(255, 255, 255);
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    transform: rotate(90deg);
    z-index: -1;
}


.chat-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999; 
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 24px;
    cursor: pointer;
    background-image: url('../img/pato.jpg'); 
    background-size: cover; 
    background-position: center; 
    outline: 0;
    margin-top: 20px;
}

.chat-window {
    position: fixed;
    bottom: 100px;
    right: 20px;
    z-index: 9998; 
    width: 400px;
    height: 500px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: none; 
    background: rgba(255, 255, 255, 0.505);
}

.chat-button:hover {
    transform: translateY(-4%);

}


.chat-content {
    padding: 20px;
    height: calc(100% - 40px); 
    overflow-y: auto; 
}

#barraChat {
    position: relative;
    top: 85%;
    bottom: 0;
    width: 100%;
    background: rgba(149, 0, 255, 0.505);
    display: flex; 
    align-items: flex-end; 
    flex-direction: row; 
    border-radius: none;
}

#BarraConsultas{
    width: 300px;
    background: rgba(255, 255, 255, 0.505);
    color: #000000;
    
}

.GloboDialogo{
    border-radius: 25px;
    padding: 12px;
    background: gray;
    color: white;
    padding: 10px;
    position: relative;
    width: 200px;
    margin: 0 auto;
    font-family: sans-serif;
    z-index: 1;
    margin-left: 20px;
    }

.GloboDialogo::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 40px;
    background: transparent;
    width: 0px; height: 0px;
    border-bottom: 40px solid gray;
    border-right: 40px solid transparent;
    border-left: 20px solid transparent;
    transform: rotate(90deg);
    z-index: -1;
}


#Enviar{
    width: 20px;
    height: 20px;
    font-size: medium;
}
